@media screen and (max-width: 768px) {
    body{
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
}